html {
    scroll-behavior: smooth;

}
body {
    background-color: #202020;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity:0.95;
    font-size: calc(3px + 1.3vw);
}

.hero {
    display:flex;
    justify-content: center;
    align-items: center;

}
.heading {
    position:absolute;
    padding: 20px;
    color: white;
    font-size: larger;
    text-align: center;
   
}
@keyframes headinglinkanim {
    from {color: white;}
   to {color: tomato;} 
 }
.heading-link {
    border:tomato solid 2px;
    padding: 10px;
    animation-name: headinglinkanim;
    animation-duration: 4s;
    /* z-index: 1; */
}
a {
    color:tomato;
    text-decoration: none;
    opacity: .7;
}
a:hover {
    color:white;
    opacity: 1.0;
    /* transition: 0.3s; */
    transition-duration: 1.5s;

}
h1 {
    color:white;
    /* text-shadow: -1px 0 #4FF3FF, 0 2px #4FF3FF, 2px 0 #4FF3FF, 0 -1px #4FF3FF; */
    /* text-shadow: -1px 0 darkgray, 0 2px darkgray, 2px 0 darkgray, 0 -1px darkgray; */
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
h2 {
    text-align: center;
}

p {
    text-align: center;
}
.nav-container {
    background-color: #202020;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    padding-right: 20px;
    box-shadow:0 4px 4px rgb(0 0 0 / 30%);
     opacity:0.95; 
    z-index: 2;

}
#navigation {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-weight: bolder;
    /* max-width: fit-content; */
} 
#about-container {
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0px auto;
    color:white;
    text-align: center;
    /* text-indent: 50px; */

}
#about-container p {
    text-indent: 50px;

}
#about-image {
    border-radius: 10px;
    flex: 1;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 20px;
}

.skills-container {
    display:flex;
    padding:40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0px auto;
}
.skills-div {
    margin: 20px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, tomato, #47e3ff) border-box;
    border-radius: 30px;
    border: 2px solid transparent;
    width: 100px;
}

#project-header {
    margin-bottom: -100px;
    padding-top: 30px;
}
.project-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.project-desc {
    
    position:relative;
    top: 300px;
    background-color: #383838;
    opacity:0.85;
    box-shadow:0 4px 4px rgb(0 0 0 / 30%);
    padding: 10px;
    max-width: 500px;
    justify-content: flex-end;
    margin: 0px auto;
    z-index: 1;

}
.project-image {
    max-width: 300px;
    max-height: auto;
    padding-left: 30px;
    border-radius: 10px;
    transition-timing-function: ease-in;

}
.project-image:hover {
    transform: scale(1.25) rotate(0.01deg);
    transition-duration: 1.0s;
    margin-left: 4%;
}

.project-image:not(:hover) {
    transform: scale(1.0) rotate(0.01deg);
    transition-duration: .5s;
    margin-left: 0%;
}
.project-links {
    position:relative;
    top: 330px;
    margin: 0px auto;
    display: flex;
    /* padding: 10px; */
    gap: 10px;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 20px;
}
.individual-project-link {
    border: tomato solid 4px;
    padding: 10px;
    background-color: #383838;
    opacity:0.85;
}
#experience-header {
    padding-top: 50px;
    margin-top: 60px;
}
#experience-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: tomato;
    padding-left: 50px;
    padding-right: 50px;

    /* margin: 0px auto; */
}
.experience-item {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.experience-item > p {
    font-size: smaller;
    color: white;
    text-align: center;
    max-width: 400px;
}
.experience-item h4 {
    font-size: x-small;
    color: darkgray;
}
.contact {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}
button {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #47e3ff;
    color: white;
    outline: none;
    transition: 1s ease-in-out;

}

button:hover {
    /* color: white; */
    /* background-color: #383838; */
    background-color: white;
    color: black;
    opacity: 1.0;
    transition: 0.5s;
    
}
#contact-container {
    display:flex;
    align-items: center;
    color: white;
}
.footer {
    padding-top: 100px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
    gap: 5px;
    opacity:0.95; 
    padding-bottom: 100px;
}
.footer a {
    color: #47e3ff;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior:smooth;

  }
}
@media only screen and (max-width: 600px) {
    .nav-container {
        justify-content: center;
        font-size: large;
  }
  #about-container {
      max-width: fit-content;
      padding: 20px
  }
  .skills-div {
      width: 50px;
      height: auto;
      border-radius: 10px;

  }
  .skills-div > img {
      width: 50px;
      height: auto;
  }
}